 @import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

/* Clearfix prevents floating boxes floating out of container */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Basic Font settings */

html {
  font-family: 'Libre Franklin', sans-serif;
}


/* And here follows your custom CSS */
body {
  background-color: #ddd;
}

/* ------------------------------------ */
/* center table and figcaption          */
/* ------------------------------------ */


/* ------------------------------------ */
/* table header                         */
/* ------------------------------------ */


/* ------------------------------------ */
/* general settings th, td              */
/* ------------------------------------ */


/* ------------------------------------ */
/* adjust text alignment for th and td  */
/* ------------------------------------ */



/* ------------------------------------ */
/* alternating rows and hover           */
/* ------------------------------------ */


/* --------------------------------------- */
/* Ranks, qualification and other leagues  */
/* --------------------------------------- */


/* ---------------------- */
/* figcaption and ul      */
/* ---------------------- */

